header{
	background-color: #1BB6E5;
	display: flex;
	height: 20%;
	border-radius: 10px;
}

h3{
	color: white;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 200px;
}

.headerul{
    position:relative;
    top: 0px;
    display: flex;
    text-decoration: none;
}

.headerli{
    list-style:none;
    background-color:#C0F2FF; 
    padding:15px; margin-right:20px; 
    border-radius: 10px;
    text-decoration: none;
}

ul{
    position:relative;
    top:25px;
    display: flex;
}

li{
    list-style:none;
    background-color:#C0F2FF; 
    padding:15px; margin-right:20px; 
    border-radius: 10px;
    text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a{
	text-decoration: none;
	color: black;
}