h1{
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

body{
	font-family: Arial;
	height: 100px;
	margin-top: 20px;
}

#logo{
	text-align: center;

}

header{
	background-color: #2E8FF5;
	padding-bottom: 5px;
	border-radius: 10px;
	color: white;
}

article{
	text-align: center;
}

p{
	text-align: center;
}

aside{
 	width: 60%;
}

#phrase{
	margin: 10px;
	color: white;
}

input{
	border-radius: 5px;
	border: solid black 1px;
}

footer{
	background-color: #2E8FF5;
	padding: 5px;
	color: white;
	border-radius: 10px;
	position: relative;
	bottom: 5px;
	width: 98%;
}

